<div class="sicoob-card shadow-sm mt-4">
  <div class="card-header border-lime">
    <h5>{{ novoBeneficio.id ? 'Editar Benefício' : 'Novo Cadastro de Benefício' }}</h5>
    <button *ngIf="novoBeneficio.id" (click)="limparForm()" class="btn-close-edit" title="Cancelar Edição">✕</button>
  </div>

  <form class="card-body" #beneficioForm="ngForm">
    <div class="form-group mb-3">
      <label>Nome do Benefício</label>
      <input type="text" name="nome" required [(ngModel)]="novoBeneficio.nome"
             #nomeRef="ngModel" class="sicoob-input"
             [class.input-error]="nomeRef.invalid && nomeRef.touched"
             placeholder="Ex: Auxílio Saúde">
    </div>

    <div class="form-group mb-3">
      <label>Descrição detalhada</label>
      <input type="text" name="descricao" required [(ngModel)]="novoBeneficio.descricao"
             #descRef="ngModel" class="sicoob-input"
             [class.input-error]="descRef.invalid && descRef.touched"
             placeholder="Breve descrição">
    </div>

    <div class="form-group mb-4">
      <label>Valor de Aporte</label>
      <div class="input-currency">
        <span class="prefix">R$</span>
        <input type="text" name="valor" [required]="true"
               mask="separator.2" thousandSeparator="." decimalMarker=","
               [(ngModel)]="novoBeneficio.valor"
               #valorRef="ngModel" class="sicoob-input ps-5"
               [class.input-error]="valorRef.invalid && valorRef.touched"
               placeholder="0,00">
      </div>
    </div>

    <div class="d-flex gap-2">
      <button type="button" (click)="salvar()"
              [disabled]="beneficioForm.invalid"
              class="btn-sicoob-primary w-100">
        {{ novoBeneficio.id ? 'Confirmar Alteração' : 'Cadastrar Benefício' }}
      </button>
    </div>
  </form>
</div>
